.App {
  text-align: center;
}

.form-class {
  padding: 10px;
  margin: 10px;
}

.table-class {
  display: inline-block;
  margin-top: 50px;
  border: 1px solid #848484;
  padding: 15px;
}

.table-class th{
  padding-left: 20px;
}

.table-class td{
  padding-left: 20px;
}